build
.vscode/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
.deps/
src/lightscheduler
stamp-h1
.deps/
.dirstamp
test/.libs/
test/gtest
test/libgtest.la
test/libgmock.la
*.o
